{% extends "base_template.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{super()}}
{% endblock styles %}


{% block body %}
    {% block navbar %}
        {{super()}}
    {% endblock navbar %}
    {% block content1 %}
        {{super()}}
    {% endblock content1 %}
    {% block main %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h3>{{ message }}</h3>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form class="form-signin" method="POST" action="register">
                {{ form.hidden_tag() }}
                <div class="form-group col-md-4">
                    {{ wtf.form_field(form.username) }}
                </div>
                <div class="form-group col-md-4">
                    {{ wtf.form_field(form.access) }}
                </div>
                <div class="form-group col-md-4">
                    {{ wtf.form_field(form.password) }}
                </div>
                <div class="form-group col-md-4 pt-4">
                    <button class="btn btn-lg btn-primary" type="submit">Register</button>
                </div>
            </form>
        </div> <!-- /container -->

    {% endblock main %}
    {% block content2 %}
        {{ super() }}
    {% endblock content2 %}
    {% block scripts %}
        {{ super() }}
    {% endblock scripts %}
{% endblock body %}
