{% extends "base_template.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{super()}}
{% endblock styles %}


{% block body %}
    {% block navbar %}
        {{super()}}
    {% endblock navbar %}
    {% block content1 %}
        {{super()}}
    {% endblock content1 %}
    {% block main %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <form method="POST" action="weekly_forms_create">
                <div class="row">
                    <div class="col-3">
                        {{ wtf.form_field(form.weekof) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col">
                                <h1>Scripture</h1>
                            </div>
                        </div>
                        <div class="row" id="script_enter">
                            <div class="col">
                                <table class="table table-sm">
                                    <thead class="thead-light">
                                    <tr class="d-flex">
                                        <th class="col-2"></th>
                                        <th class="col-8"></th>
                                    </thead>
                                    <tbody>
                                    <tr class="d-flex">
                                        <th class="col-2">Reading Ass.</th>
                                        <td class="col-8">{{ form.scripture_ass(class_="col-12") }}</td>
                                    </tr>
                                    <tr class="d-flex">
                                        <th class="col-2">Reference</th>
                                        <td class="col-8">{{ form.scripture_ref(class_="col-12") }}</td>
                                    </tr>
                                    <tr class="d-flex">
                                        <th class="col-2">Text</th>
                                        <td class="col-8">{{ form.scripture(cols="72", rows="10") }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-row">
                    <h1>Goals</h1>
                    <table class="table table-sm">
                        <thead class="thead-light">
                            <tr class="d-flex">
                                <th class="col-2">Kid</th>
                                <th class="col-8">Goal</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr class="d-flex">
                            <th class="col-2">{{ form.cal_goal.label }}</th>
                            <td class="col-8">{{ form.cal_goal(class_="col-12") }} </td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2">{{ form.sam_goal.label }}</th>
                            <td class="col-8">{{ form.sam_goal(class_="col-12") }} </td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2">{{ form.kay_goal.label }}</th>
                            <td class="col-8">{{ form.kay_goal(class_="col-12") }} </td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2">{{ form.seth_goal.label }}</th>
                            <td class="col-8">{{ form.seth_goal(class_="col-12") }} </td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2">{{ form.mags_goal.label }}</th>
                            <td class="col-8">{{ form.mags_goal(class_="col-12") }} </td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2">{{ form.mar_goal.label }}</th>
                            <td class="col-8">{{ form.mar_goal(class_="col-12") }} </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-row">
                    <h1>Math Book</h1>
                    <table class="table table-sm">
                        <thead class="thead-light">
                        <tr class="d-flex">
                            <th class="col-2">Kid</th>
                            <th class="col-5">Book</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="d-flex">
                            <th class="col-2">{{ form.cal_book.label }}</th>
                            <td class="col-5">{{ form.cal_book(class_="col-12") }} </td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2">{{ form.sam_book.label }}</th>
                            <td class="col-5">{{ form.sam_book(class_="col-12") }} </td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2">{{ form.kay_book.label }}</th>
                            <td class="col-5">{{ form.kay_book(class_="col-12") }} </td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2">{{ form.seth_book.label }}</th>
                            <td class="col-5">{{ form.seth_book(class_="col-12") }} </td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2">{{ form.mags_book.label }}</th>
                            <td class="col-5">{{ form.mags_book(class_="col-12") }} </td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2">{{ form.mar_book.label }}</th>
                            <td class="col-5">{{ form.mar_book(class_="col-12") }} </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <input class="btn btn-primary" id="submit" type="submit"/>
            </form>
        </div>

    {% endblock main %}
    {% block content2 %}
        {{ super() }}
    {% endblock content2 %}
    {% block scripts %}
        {{ super() }}

        <script>
            document.getElementById('date').focus();

            date = {{ date | tojson }}
            formData = {{ form_data | tojson }}

            day_lst = ['mon', 'tue', 'wed', 'thu', 'fri', 'sat'];
            kid_lst = ['calvin', 'samuel', 'kay', 'seth', 'mags', 'martin'];

            document.getElementById('date').value = date;

            document.getElementById('scripture_ass').value = formData['scripture_ass'];
            document.getElementById('scripture_ref').value = formData['scripture_ref'];
            document.getElementById('scripture').value = formData['scripture'];

<!--            for (i = 0; i < day_lst.length; ++i) {-->
<!--                document.getElementById(day_lst[i] + '_job_cal').value = formData[day_lst[i] + '_job_cal'];-->
<!--            }-->
<!--            for (i = 0; i < day_lst.length; ++i) {-->
<!--                document.getElementById(day_lst[i] + '_job_sam').value = formData[day_lst[i] + '_job_sam'];-->
<!--            }-->
<!--            for (i = 0; i < day_lst.length; ++i) {-->
<!--                document.getElementById(day_lst[i] + '_job_kay').value = formData[day_lst[i] + '_job_kay'];-->
<!--            }-->
<!--            for (i = 0; i < day_lst.length; ++i) {-->
<!--                document.getElementById(day_lst[i] + '_job_seth').value = formData[day_lst[i] + '_job_seth'];-->
<!--            }-->
            for (i = 0; i < kid_lst.length; ++i) {
                document.getElementById(kid_lst[i] + '_book').value = formData[kid_lst[i] + '_book'];
                document.getElementById(kid_lst[i] + '_goal1').value = formData[kid_lst[i] + '_goal1'];
            }

            function scriptEnter(type) {
                console.log(type);
                if (type=='new') {
                    document.getElementById("script_enter").style.visibility = 'visible';

                    document.getElementById('scripture_ref').value = formData['scripture_ref'];
                    document.getElementById('scripture').value = formData['scripture'];
                }
                else {
                    document.getElementById("script_enter").style.visibility = 'hidden';

                    document.getElementById('scripture_ref').value = ' ';
                    document.getElementById('scripture').value = 'Review Time!';
                }
            }


        </script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
{#        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>#}
    {% endblock scripts %}

{% endblock body %}


<!--                <div class="form-row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col">
                                <h1>Discussion Question for the Week</h1>
                            </div>
                        </div>
                        <div class="row" id="discussion_question_enter">
                            <div class="col">
                                <table class="table table-sm">
                                    <thead class="thead-light">
                                    <tr class="d-flex">
                                        <th class="col-2"></th>
                                        <th class="col-5"></th>
                                    </thead>
                                    <tbody>
                                    <tr class="d-flex">
                                        <th class="col-2">Reference</th>
                                        <td class="col-5">{{ form.discussion_ref(class_="col-12") }}</td>
                                    </tr>
                                    <tr class="d-flex">
                                        <th class="col-2">Question</th>
                                        <td class="col-5">{{ form.discussion_question(cols="46", rows="10") }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
-->

<!--            document.getElementById('discussion_ref').value = formData['discussion_ref'];-->
<!--            document.getElementById('discussion_question').value = formData['discussion_question'];-->

<!--<div class="form-row">
                    <h1>Jobs</h1>
                    <table class="table table-sm">
                        <thead class="thead-light">
                        <tr class="d-flex">
                            <th class="col-2">Day of Week</th>
                            <th class="col-3">Calvin</th>
                            <th class="col-3">Samuel</th>
                            <th class="col-3">Kay</th>
                            <th class="col-3">Seth</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="d-flex">
                            <th class="col-2">{{ form.mon_job_cal.label }}</th>
                            <td class="col-3">{{ form.mon_job_cal(class_="col-12") }}</td>
                            <td class="col-3">{{ form.mon_job_sam(class_="col-12") }}</td>
                            <td class="col-3">{{ form.mon_job_kay(class_="col-12") }}</td>
                            <td class="col-3">{{ form.mon_job_seth(class_="col-12") }}</td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2">{{ form.tue_job_cal.label }}</th>
                            <td class="col-3">{{ form.tue_job_cal(class_="col-12") }}</td>
                            <td class="col-3">{{ form.tue_job_sam(class_="col-12") }}</td>
                            <td class="col-3">{{ form.tue_job_kay(class_="col-12") }}</td>
                            <td class="col-3">{{ form.tue_job_seth(class_="col-12") }}</td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2">{{ form.wed_job_cal.label }}</th>
                            <td class="col-3">{{ form.wed_job_cal(class_="col-12") }}</td>
                            <td class="col-3">{{ form.wed_job_sam(class_="col-12") }}</td>
                            <td class="col-3">{{ form.wed_job_kay(class_="col-12") }}</td>
                            <td class="col-3">{{ form.wed_job_seth(class_="col-12") }}</td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2">{{ form.thu_job_cal.label }}</th>
                            <td class="col-3">{{ form.thu_job_cal(class_="col-12") }}</td>
                            <td class="col-3">{{ form.thu_job_sam(class_="col-12") }}</td>
                            <td class="col-3">{{ form.thu_job_kay(class_="col-12") }}</td>
                            <td class="col-3">{{ form.thu_job_seth(class_="col-12") }}</td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2">{{ form.fri_job_cal.label }}</th>
                            <td class="col-3">{{ form.fri_job_cal(class_="col-12") }}</td>
                            <td class="col-3">{{ form.fri_job_sam(class_="col-12") }}</td>
                            <td class="col-3">{{ form.fri_job_kay(class_="col-12") }}</td>
                            <td class="col-3">{{ form.fri_job_seth(class_="col-12") }}</td>
                        </tr>
                        <tr class="d-flex">
                            <th class="col-2">{{ form.sat_job_cal.label }}</th>
                            <td class="col-3">{{ form.sat_job_cal(class_="col-12") }}</td>
                            <td class="col-3">{{ form.sat_job_sam(class_="col-12") }}</td>
                            <td class="col-3">{{ form.sat_job_kay(class_="col-12") }}</td>
                            <td class="col-3">{{ form.sat_job_seth(class_="col-12") }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>-->